{% extends 'base.html' %}

{% block title %}  Confirm sign up | Private Diary {% endblock %}

{% block activate_login %}active {% endblock %}

{% block contens %}

<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>ユーザー登録</h1>
            {% if confirmation %}
            <p>ユーザー登録を確定するには、以下のボタンを押してください。</p>
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}

                {{ form.as_p }}

                {% if redirect_field_value %}

                <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value">

                {% endif %}

                <button class="btn btn-primary" type="submit">ログイン</button>

                <p><a class="button secondaryAction" href="{% url 'account_reset_psaaword' %}">パスワードを忘れましたか？</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}